@model IEnumerable<Products.NorthwindTraders.Models.Produto>

@{
    ViewBag.Title = "Produtos Por Categoria";
}
<h2>@ViewBag.CategoriaNome</h2>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estoque)
        </th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estoque)
            </td>

        </tr>
    }
</table>
@Html.ActionLink("Voltar", "Index")